@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 10px;
      height: 20px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: #f7f4ed;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #3B0E39;
      border-radius: 100vh;
      border: 3px solid #3B0E39;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #c0a0b9;
      border: 3px solid #c0a0b9;
    }
  }